<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Para você falar com o Pimpo em vez de digitar.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Para transformar o que você fala em texto, no próprio computador.</string>
</dict>
</plist>
